// Colors
$purple: #7a325d
$blue: #0055a4
$primary: $blue
$black: #202020
$electric-blue: #1292FF
$neon-green: #39FBCB

@import '../node_modules/bulma/bulma'

.fableconf-logo
  margin: 50px

.icon .navbar-social-icon
  font-size: 2rem

.navbar
  font-family: 'Cabin', sans-serif
  background-color: $black
  border-bottom: 2px $blue solid
  .title
    color: #686868
    font-weight: 600
    margin-bottom: 0
  .navbar-burger span
    background-color: white

  .navbar-logo
    img
      max-height: 4rem
    padding: 0
    padding-left: 1rem
  .navbar-burger:hover
    background-color: #101010
  .navbar-start
    .navbar-item
      color: $electric-blue
      text-transform: uppercase
      font-weight: 700
      padding-right: 3rem
    .navbar-item.is-active
      color: $neon-green
      text-shadow: 0px 0px 5px $neon-green
    .navbar-item:hover
      color: #39FBCB
      background-color: #101010

.twitter
  color: #55acee !important // Override bulma
  border-color: #55acee

.github
  color: $black !important // Override bulma
  border-color: $black

.cap-sciences
  background-image: url(img/location.jpg)
  background-repeat: no-repeat
  background-size: cover !important
  background-position-y: -100px
  @media screen and (max-width: 500px)
    background-position-y: 0

.google-map
  border: 0
  width: 100%
  height: 450px

.schedule:first-child
  border-top: 1px solid black

.schedule:last-child
  border-bottom: 1px solid black

.schedule-time
  border: 1px solid black
  border-left: 2px solid black
  p
    font-weight: bold
    color: white

.schedule-content
  border: 1px solid black
  border-right: 2px solid black

.schedule-time.schedule-break
  background-color: #ef4135 // lavender

.schedule-time.schedule-talk
  background-color: #0055a4 // aliceblue

.workshop
  .title
    margin-bottom: 12px
    font-weight: bold
  p
    margin-bottom: 6px

.container
  padding: 5px

.flex-wrap
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-items: center

.sponsors
  img
    max-height: 150px
    margin: 0 10px

.parisienne
  font-family: 'Parisienne', sans-serif
  font-weight: 400

.title
  color: $electric-blue

.title-bold
  font-weight: 700
  font-family: 'Cabin', sans-serif

.title-light
  font-weight: 400
  font-family: 'Abel', sans-serif

.content
  margin-left: 25%

.ticket-holder
  border-top: 2px dashed $electric-blue
  border-bottom: 2px dashed $electric-blue

.ticket
  border-radius: 10px
  border: 2px solid $electric-blue
  width: 50%
  margin-right: auto
  margin-left: auto
  box-shadow: 0px 0px 10px $electric-blue
  padding: 0.5rem
  h1
    color: $neon-green

.general-info
  padding: 0
  margin-top: -150px
  margin-left: 25%
  max-width: 30%

  .title
    margin: 0
    padding-top: 0.3rem
    padding-bottom: 0.3rem
    font-size: 2rem

  .fsharp
    border-top: 1px solid $neon-green
    .title
      color: $neon-green

// Needed otherwise iframes show a disabled scrollbar
html,
body
  overflow-y: auto
  overflow-x: hidden
  font-family: 'Abel', sans-serif
  background-color: #202020
  color: white
