@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

// Customize
// Colors
$primary: #2D3947;
// Links
$link-hover: #00D1B2;

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts/";
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import '~bulma/bulma.sass';
@import '~bulma-pageloader/dist/css/bulma-pageloader.sass';

// ******************************************************* LAYOUT ****************************************************

// mixin source: https://gist.github.com/ahmadawais/7a6c9eb73f2e90d6b7c9d470c75b9811

@mixin r( $point ) {
  @if $point==240 {
    @media ( min-width: 240px ) {
      @content;
    }
  }
  @if $point==320 {
    @media ( min-width: 320px ) {
      @content;
    }
  }
  @if $point==414 { // I love new ipads!
    @media ( min-width: 414px ) {
      @content;
    }
  }
  @if $point==480 {
    @media ( min-width: 480px ) {
      @content;
    }
  }
  @if $point==600 {
    @media ( min-width: 600px ) {
      @content;
    }
  }
  @if $point==768 {
    @media ( min-width: 768px ) {
      @content;
    }
  }
  @if $point==1024 {
    @media ( min-width: 1024px ) {
      @content;
    }
  }
  @if $point==1140 {
    @media ( min-width: 1140px ) {
      @content;
    }
  }
  @if $point==1280 {
    @media ( min-width: 1280px ) {
      @content;
    }
  }
  @if $point>=1500 {
    @media ( min-width: 1500px ) {
      @content;
    }
  }
}

$black-orange: #8F3220;
$orange: #bb4321;
$blueback: #B1C5CE;
$customGrey:#2d2d2d;

html {
  height: 100%;
}
// Needed otherwise iframes show a disabled scrollbar
body {
  overflow-y: auto;
  overflow-x: auto;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background-color: #fff;
  height: 100%;
}

#footer {
  font-family: "Dosis";
  padding: 1rem;
  background-color: $blueback;
  @include r(240) { font-size: 1rem; }
  @include r(320) {  }
  @include r(480) { padding-left: 5%; padding-right: 5%; }
  @include r(768) { font-size: 0.7rem; padding-left: 10%; padding-right: 10%; }
  @include r(1024) { font-size: 0.8rem; padding-left: 10%; padding-right: 10%; }
  @include r(1140) { padding-left: 20%; padding-right: 20%; }
  @include r(1280) { font-size: 0.9rem; }
  @include r(1500) { padding-left: 25%; padding-right: 25%; }
  a {
    color: $customGrey;
  }
}

.picCredits {
  font-size: 0.5rem;
}

.contents {
  background-color: $blueback;
  color: $customGrey;
  h2, h4 {
    font-family: "dosis";
    font-weight: 500;
    color:$orange;
  }  
  h4 {
    font-weight: 300;
  }
  p {
    text-align: justify;
    text-justify: inter-word;
  }
  .addMargins {
    @include r(240) {padding-bottom:5%;padding-top:5%; margin-left: 10%;margin-right:10%;}
    @include r(320) {  }
    @include r(480) { }
    @include r(768) {}
    @include r(1024) { }
    @include r(1140) { }
    @include r(1280) { }
    @include r(1500) {}
  }
}

a.fbutton {
  font-family: "dosis";
  font-size: 2.5rem;
  width : 40%;
  color: #EB5731;
  .innerLeft {
    border: 2px solid $black-orange;
    position: relative;
    height:80px;
  }
  .innerRight {
    border: 2px solid $orange;
    position: relative;
    top: -65px;
    left: 10px;
    height:80px;
    text-align: center;
  }
}

.ftitle {
  width:90%;
  h1 {      
      color : $orange;
      font-family: "Dosis";
      font-weight: 500;
      @include r(240) { padding-top:50%; margin-left: 10%; }
      @include r(320) { padding-top:60%; }
      @include r(480) { }
      @include r(768) { padding-top:35%; }
      @include r(1024) { }
      @include r(1140) {}
      @include r(1280) { padding-top:10%; margin-left: 30%; }
      @include r(1500) { padding-top:10%;}

      span.top {
        @include r(240) {font-size: 4rem; }
        @include r(320) { }
        @include r(480) { }
        @include r(768) { font-size: 8rem;}
        @include r(1024) { font-size: 5rem;}
        @include r(1140) {}
        @include r(1280) {}
        @include r(1500) {}
      }
      span.bottom {
        @include r(240) {font-size: 3.2rem; }
        @include r(320) { }
        @include r(480) { }
        @include r(768) { font-size: 6.5rem;}
        @include r(1024) {font-size: 4rem;}
        @include r(1140) {}
        @include r(1280) {}
        @include r(1500) {}
      }
    }    

    .dates {
      color : #2d2d2d;
      font-family: "Open Sans";
      font-weight: 400;
      @include r(240) { margin-left:10%; margin-top:5%;}
      @include r(320) { }
      @include r(480) { }
      @include r(768) {}
      @include r(1024) { }
      @include r(1140) { }
      @include r(1280) {margin-top:0%; margin-left: 30%;}
      @include r(1500) {}
      span.date {
        @include r(240) { font-size: 1.5rem; }
        @include r(320) { }
        @include r(480) { }
        @include r(768) { font-size: 2rem}
        @include r(1024) { }
        @include r(1140) {}
        @include r(1280) {font-size: 2rem}
        @include r(1500) {}
      }
    }    

    .ticket {
      color : #2d2d2d;
      font-family: "Open Sans";
      font-weight: 400;
      max-width: 30%;
      @include r(240) { margin-left:10%; margin-top:5%;}
      @include r(320) { }
      @include r(480) { }
      @include r(768) {}
      @include r(1024) { }
      @include r(1140) { }
      @include r(1280) {margin-top:2%; margin-left: 30%;}
      @include r(1500) {}
      span.date {
        @include r(240) { font-size: 1.5rem; }
        @include r(320) { }
        @include r(480) { }
        @include r(768) { font-size: 2rem}
        @include r(1024) { }
        @include r(1140) {}
        @include r(1280) {font-size: 2rem}
        @include r(1500) {}
      }
    }    

    hr {
      border: 1px solid $orange;      
      @include r(240) { margin-left:10%; width:60%; }
      @include r(320) { }
      @include r(480) { }
      @include r(768) { width:30%;margin-left: 10%;}
      @include r(1024) { }
      @include r(1140) {}
      @include r(1280) { width:20%;margin-left: 30%; }
      @include r(1500) { }
  }
  }

  .axxesLogo {
    color : #2d2d2d;
    font-family: "Dosis";
    font-weight: 500;
    @include r(240) { margin-left:10%; margin-top:18%;width:40%; font-size:1rem;}
    @include r(320) { margin-top: 45%;}
    @include r(414) { margin-top: 58%;}
    @include r(480) { }
    @include r(768) { width:25%;font-size:1.3rem; margin-top: 28%;}
    @include r(1024) {width:20%;font-size:1.5rem;margin-top: 28%;}
    @include r(1140) {}
    @include r(1280) { margin-left:90%; width:15%;font-size:1.5rem; margin-top: 20%;}
    @include r(1500) { width:15%;font-size:1.5rem;  }    
  }
