@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

// Customize
// Colors
$primary: #2d3947;
// Links
$link-hover: #00d1b2;
$navbar-breakpoint: $tablet;

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts/";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import "~bulma/bulma.sass";
// @import '~bulma-pageloader/dist/css/bulma-pageloader.sass';

// ******************************************************* LAYOUT ****************************************************

// mixin source: https://gist.github.com/ahmadawais/7a6c9eb73f2e90d6b7c9d470c75b9811

@mixin text-white-shadow {
  text-shadow: 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

@mixin tablet {
    @media screen and (min-width: $tablet) {
        @content;
    }
}

@mixin only-mobile {
    @media screen and (max-width: $tablet) {
        @content;
    }
}

@mixin r($point) {
  @if $point==240 {
    @media (min-width: 240px) {
      @content;
    }
  }
  @if $point==320 {
    @media (min-width: 320px) {
      @content;
    }
  }
  @if $point==414 {
    // I love new ipads!
    @media (min-width: 414px) {
      @content;
    }
  }
  @if $point==480 {
    @media (min-width: 480px) {
      @content;
    }
  }
  @if $point==600 {
    @media (min-width: 600px) {
      @content;
    }
  }
  @if $point==768 {
    @media (min-width: 768px) {
      @content;
    }
  }
  @if $point==1024 {
    @media (min-width: 1024px) {
      @content;
    }
  }
  @if $point==1140 {
    @media (min-width: 1140px) {
      @content;
    }
  }
  @if $point==1280 {
    @media (min-width: 1280px) {
      @content;
    }
  }
  @if $point>=1500 {
    @media (min-width: 1500px) {
      @content;
    }
  }
}

$black-orange: #8f3220;
$orange: #bb4321;
$blueback: #b1c5ce;
$customGrey: #2d2d2d;

html {
  height: 100%;
}
// Needed otherwise iframes show a disabled scrollbar
body {
  overflow-y: auto;
  overflow-x: auto;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background-color: $blueback;
  height: 100%;
}

#footer {
  margin-top: 25px;
  font-family: "Dosis";
  padding: 1rem;
  background-color: $blueback;
  @include r(240) {
    font-size: 1rem;
  }
  @include r(320) {
  }
  @include r(480) {
    padding-left: 5%;
    padding-right: 5%;
  }
  @include r(768) {
    font-size: 0.7rem;
    padding-left: 10%;
    padding-right: 10%;
  }
  @include r(1024) {
    font-size: 0.8rem;
    padding-left: 10%;
    padding-right: 10%;
  }
  @include r(1140) {
    padding-left: 20%;
    padding-right: 20%;
  }
  @include r(1280) {
    font-size: 0.9rem;
  }
  @include r(1500) {
    padding-left: 25%;
    padding-right: 25%;
  }
  a {
    color: $customGrey;
  }
}

.picCredits {
  font-size: 0.5rem;
}

.picContents {
  margin: 3% 0;
  @include r(240) {
    background-image: url("../../public/mas1000.jpg");
  }
  @include r(320) {
  }
  @include r(480) {
  }
  @include r(768) {
    background-image: url("../../public/mas.jpg");
  }
  @include r(1024) {
  }
  @include r(1140) {
  }
  @include r(1280) {
  }
  @include r(1500) {
  }
}

.sponsors.level {
  margin: 3rem 0;
  text-align: center;
  display: inline-block;

  .silver,.gold,.diamond {
    display: inline-block;
    margin: 1rem 0;
    text-align: center;

    img {
      vertical-align: central;
    }
  }

  .silver {
    width: 25%;
    img {
      max-height: 100px;
    }
  }

  .gold {
    width: 33%;
    img {
      max-height: 150px;
    }
  }

  .diamond {
    width: 50%;
    img {
      max-height: 200px;
    }
  }

  img {
    margin: 0 20px;
  }
}

.contents {
//   background-color: $blueback;
  color: $customGrey;
  h2,
  h4 {
    font-family: "dosis";
    font-weight: 500;
    color: $orange;
  }
  h4 {
    font-weight: 300;
  }
  p {
    text-align: justify;
    text-justify: inter-word;
  }
  .addMargins {
    margin-left: 5%;
    margin-right: 5%;
    @include tablet {
      margin-left: 10%;
      margin-right: 10%;
    }
  }
}

a.fbutton {
  font-family: "dosis";
  @include r(240) {
    font-size: 2rem;
  }
  @include r(320) {
  }
  @include r(480) {
  }
  @include r(768) {
    font-size: 2.5rem;
  }
  @include r(1024) {
  }
  @include r(1140) {
  }
  @include r(1280) {
  }
  @include r(1500) {
  }
  width: 40%;
  color: #eb5731;
  //   @include text-white-shadow;
  .innerLeft {
    border: 2px solid $black-orange;
    position: relative;
    height: 80px;
  }
  .innerRight {
    border: 2px solid $orange;
    position: relative;
    top: -65px;
    left: 10px;
    height: 80px;
    text-align: center;
  }
}

.landing {
    height: 800px;
    background-image: url("../../public/landing.jpg");
    background-repeat: no-repeat;
    background-position: center -100px;
    background-size: cover;
    @include r(1280) {
        background-size: contain;
    }
    @include r(1920) {
      background-size: cover;
    }
  }
  // background-color: $blueback;
    .inner {
        margin: 0 auto;
        max-width: 1024px;
        position: relative;
        .info {
            position: absolute;
            left: 10%;
            top: 50px;
            @include tablet { top: 180px; }
            .ftitle {
                font-family: "Dosis";
                font-weight: 500;
                color: #BB4321;
                .top {
                    font-size: 100px;
                }
                .bottom {
                    margin-top: -50px;
                    font-size: 75px;
                }
            @include tablet {
                    .top {
                        font-size: 124px;
                    }
                    .bottom {
                        margin-top: -50px;
                        font-size: 100px;
                    }
                }
            }
            .dates {
                color: #2d2d2d;
                font-family: "Open Sans";
                font-size: 30px;
                @include tablet {
                    font-size: 40px;
                    margin-top: 40px;
                }
            }
        }
        .axxesLogo {
            font-family: "Dosis";
            position: absolute;
            right: 5%;
            top: 490px;
            font-size: 20px;
            img {
                margin-top: 10px;
                max-height: 40px;
            }
            @include tablet {
                top: 610px;
                font-size: 25px;
                img {
                    margin-top: 10px;
                    max-height: 50px;
                }
            }
            @include r(1920) {
              right: 15%;
              top: 640px;
              img {
                  margin-top: 45;
                  max-height: 50px;
              }
            }
        }
    }

.intermediate:not(body) {
  text-transform: uppercase;
  background-color: #f5de75;
}

.expert:not(body) {
  text-transform: uppercase;
  background-color: #a43d22;
  color:white;
}

.all:not(body) {
  background-color: #73dfb5;
  text-transform: uppercase;
}
.beginner:not(body) {
  text-transform: uppercase;
  background-color: #88c7e4;
}
.lightning:not(body) {
    text-transform: uppercase;
    background-color: goldenrod;
    color:white;
    margin-left: 10px;
  }

.track-one {
  color: $orange;
}
.track-two {
  color: #5b97b4;
}

.contents {
  color:black;
  font-weight: 300;
}

.ticket {
    margin-top: -100px;
    @include tablet {
        margin-top: inherit;
    }
}

.coc {
    margin-top: 25px;
}

.day {
    margin-top: 60px;
    &.talks {
        @include only-mobile {
            margin-top: 0;
        }
    }
    // &>h3 {
    //     margin: 1.2rem;
    // }
    &.talks > .columns {
        background-color: white;
        &:nth-child(odd) {
            background-color: rgba(255,255,255,0.6);
        }
    }
    &.workshops > .columns {
        background-color: white;
        &:nth-child(even) {
            background-color: rgba(255,255,255,0.6);
        }
    }
    .column {
        @include only-mobile {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

.navbar {
    font-family: "Dosis";
    background-color: $blueback;
    .navbar-logo {
        background-color: #BB4321;
        h1 {
            color: white;
            font-weight: 500;
            font-size: 1.2em;
        }
    }
    a.navbar-item {
        color: #BB4321;
        font-weight: 500;
        font-size: 1.2em;
    }
    .icon {
        color: #BB4321;
        font-size: 1.5em;
    }
}